<html>
  <head>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <nav>
    <div class="Nav-Link Nav-Brand">
      Trivia App
    </div>
    <div class="Nav-Link">
      <a href="/auth/logout">Logout</a>
    </div>
    <div class="Nav-Link">
      <a href="/create_user">Create User</a>
    </div>
  </nav>
  <div class="Page-Container">
    <% if flash[:error].present? %>
      <div class="Error-Container">
        <%= flash[:error] %>
      </div>
    <% end %>
    <%= yield %>
  </div>
</html>
